.detail {
    flex: 1;
    flex-direction: column;
    display: flex;
}

.user {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #dddddd35;
}

.user img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    display: flex;
    overflow: auto;
    overflow-x: hidden;
    padding: 20px;
    flex-direction: column;
    gap: 25px;
}

.option .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option .title img {
    width: 30px;
    height: 30px;
    background-color: rgba(17, 25, 40, 0.3);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: rgba(17, 25, 40, 0.3);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}


button {
    padding: 15px 20px;
    background-color: rgba(230, 74, 105, 0.553);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(220, 20, 60, 0.796);
}


button.report {
    background-color: rgba(255, 165, 0, 0.7);
}

button.report:hover {
    background-color: rgba(255, 140, 0, 0.9);
}


.reportPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupContent {
    background: rgba(17, 25, 40, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: left;
    position: relative;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    resize: none;
}

button.submitReport {
    margin-top: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background: #e64a69;
    color: white;
    border-radius: 5px;
    width: 100%;
}

button.submitReport:hover {
    background: #dc143c;
}


button.deleteChat {
    background-color: rgba(255, 69, 58, 0.8);
}

button.deleteChat:hover {
    background-color: rgba(255, 0, 0, 0.9);
}

@media (max-width: 768px) {
    .detail {
      width: 90%;
      padding: 15px;
    }
  
    .info {
      flex-direction: column; 
    }
  
    button {
      width: 100%;
      padding: 12px;
      font-size: 14px;
    }
  
    .reportPopup {
      width: 90%;
      max-width: 350px;
    }
  }


