
/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #620000;
    background-color: #ffaaaa;
    border-color: #ff9595;
}

.alert-primary hr {
    border-top-color: #ff7c7c;
}

.alert-primary .alert-link {
    color: #2f0000;
}

.badge-primary {
    color: #fff;
    background-color: #dd0000;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #fff;
    background-color: #aa0000;
}

.bg-primary {
    background-color: #dd0000 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #aa0000 !important;
}

.border-primary {
    border-color: #dd0000 !important;
}

.btn-primary {
    color: #fff;
    background-color: #dd0000;
    border-color: #dd0000;
}

.btn-primary:hover {
    color: #fff;
    background-color: #b90000;
    border-color: #aa0000;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(221, 0, 0, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #dd0000;
    border-color: #dd0000;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #aa0000;
    border-color: #9a0000;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(221, 0, 0, 0.5);
}

.btn-outline-primary {
    color: #dd0000;
    background-color: transparent;
    border-color: #dd0000;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #dd0000;
    border-color: #dd0000;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(221, 0, 0, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #dd0000;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #dd0000;
    border-color: #dd0000;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(221, 0, 0, 0.5);
}

.list-group-item-primary {
    color: #620000;
    background-color: #ff9595;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #620000;
    background-color: #ff7c7c;
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #620000;
    border-color: #620000;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #ff9595;
}

.table-hover .table-primary:hover {
    background-color: #ff7c7c;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #ff7c7c;
}

.text-primary {
    color: #dd0000 !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #aa0000 !important;
}
